<%- include('partials/header') %> 

<h1>About</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem molestiae, provident quibusdam accusamus hic accusantium, voluptate vero aliquam voluptatem quae qui unde. Nihil, ducimus quis voluptas corrupti possimus eveniet reiciendis quam debitis culpa est inventore. Tempora dolores, dicta quas accusantium earum tempore doloribus incidunt veniam ut, perspiciatis ab vel temporibus placeat consequatur maiores. Maiores vero nostrum hic aliquid nemo velit possimus quae sapiente, dicta libero debitis quis voluptate repudiandae reiciendis, nihil iste cupiditate praesentium! Labore molestiae doloremque iure officiis soluta repudiandae ut corporis similique dolorem rem? Repudiandae nulla officiis necessitatibus fugiat minus numquam laboriosam, perferendis perspiciatis soluta facere doloremque sed.
</p>




<%- include('partials/footer') %> 